<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>songbook</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet prefetch" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">
<script src="js/angular.min.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.0.js"></script>
<script src="js/songlist.js"></script>
<script src="js/scripts.js"></script>
</head>
<body>
    <div class="songsearch">
        <div ng-app="angularTypeahead">
            <div class="container-fluid" ng-controller="TypeaheadCtrl">
                <div class="form-group">
                  <input name="songs" id="songs" type="text" placeholder="search for a song" ng-model="selectedSong" typeahead="x as x.ordinal +' - '+x.title for x in songs | filter:$viewValue | limitTo:40" class="form-control input-lg">
                  <span id="searchclear" class="glyphicon glyphicon-remove-circle" ng-click="clearSearch()"></span>
                </div>
                <div ng-bind-html="selectedSong.songHTML" class="song-html"></div>
            </div>
        </div>
        <div class="navigation">
            <div class="container-fluid text-center">
                <a class="btn btn-default" href="catalog.html">Index</a>
                <!-- <a class="btn btn-default" id="lightordark" onclick="turnToTheDarkSide()">Theme</a> -->
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
    var myApp = angular.module('angularTypeahead', ['ui.bootstrap', 'ngSanitize']);

    myApp.factory("Songs", function(){
        var songs = masterSongList;
        return songs;
    });

    myApp.controller("TypeaheadCtrl", function($scope, Songs) {
        $scope.songs = Songs;
        var wantedSong = getQueryStringParamByName('s');
        if(wantedSong > 0) {
            var song = searchSongsByNumber(parseInt(wantedSong), $scope.songs)
            $scope.selectedSong = song;
        }
        $scope.clearSearch = function(){
            document.getElementById("songs").value = "";
            document.getElementsByClassName("song-html")[0].innerHTML = "";
            document.getElementById("songs").focus();
        };
    });
    
    // On page load set the theme.
    (function() {
      var theme = getThemeClassFromCookie();
      var element = document.body;
      element.classList.add(theme);
      if (theme && theme === "dark-mode") {
        document.getElementById("lightordark").innerHTML = "Light theme";
      } else {
        document.getElementById("lightordark").innerHTML = "Dark theme";
      }
    })();
    
    </script>

</body>
</html>
